.layout-container {
  height: calc(100vh - 200px);
}

.forms {
  width: min(100%, 420px);
  margin: 0 auto;
  padding: 25px 0;
}

.footer {
  background-color: $primary;
  color: #fff;
}

.green{
  color:$primary;
}

.blue{
  color:$secondary;
}

.grid{
  display:grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: center;
  align-items: center;
}

.parentGrid{
  display: flex;
  gap:20px;
}

.display{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.content{
  flex-grow:1;
}

.btnRegister{
  color: #fff;
  text-transform: uppercase;
}

.btnLogin{
  background-color: #fff;
}

@media (max-width: 1038px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
  }

  .btnRegisterHamb {
    color: #fff;
    text-transform: uppercase;
  }

  .btnLoginHamb {
    background-color: #fff;
  }
}
